@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@source '../../../packages/ui/';

:root {
    /* Typography */
    --font-family: "IBM Plex Sans", "Fira Code", sans-serif;
    --font-size: 1rem;

    /* Core Palette : #0A192F, #A8B2D1, #CCD6F6*/
    --background: oklch(0.2136 0.0483 257.95);
    --foreground: oklch(0.766 0.0458 271.2);
    --foreground-bright: oklch(0.8786 0.0455 271.71);

    /* Primary: #64FFDA / Muted: #8892B0*/
    --primary: oklch(0.9077 0.1414 174.34);
    --secondary: var(--foreground-bright);
    --muted: oklch(0.6624 0.0461 270.63);

    /* Card: #112240 / Divider: #233554 */
    --card-background: oklch(0.2552 0.0612 260.93);
    --card-foreground: var(--foreground);
    --divider: oklch(0.3294 0.0601 260.77);

    /* Navbar : #0A192F 85% */
    --navbar-background: oklch(0.2136 0.0483 257.95 / 85%);

    /* sizes */
    --navbar-height: 4rem;
    --hero-height: calc(100vh - var(--navbar-height) - 2.5625rem);
}

@theme default {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-muted: var(--muted);
    --color-card-background: var(--card-background);
    --color-card-foreground: var(--card-foreground);
    --color-divider: var(--divider);
    --color-navbar-background: var(--navbar-background);
}

@layer base {
    * {
        @apply box-border;
    }

    body {
        @apply bg-background text-foreground p-0 m-0;
    }

    h1 {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 35.2px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 30.8px;
    }

    p {
        font-size: 1.0625rem;
        font-weight: 400;
        line-height: 1.625rem;
    }

    li {
        list-style: none;
        font-size: 0.875rem;
        font-family: 'Fira Code', monospace;
        color: var(--foreground-bright);
        padding: 0.625rem 0.9375rem;
        transition: color 0.3s;
    }

    li:hover {
        color: var(--primary);
        cursor: pointer;
    }

    html {
        font-size: var(--font-size);
        font-family: var(--font-family);
        line-height: 1.625rem;
    }
}